body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

.container {
    margin-top: 50px;
}

.music-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.3s;
}

.music-link:hover {
    background-color: #D00000;
    transform: scale(1.1);
}

.slideshow {
    position: relative;
    max-width: 500px; 
    height: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    position: relative;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #0078D4;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005fb8;
}


/* Github Metrics */
.metrics-container {
    margin-top: 40px;
    text-align: center;
}

.metrics-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}
